# ------ this is a template file for environment variables
# ------ env files are for storing private data such as secrets/passwords, API keys, hash sequence, and more.
# ------ use this file as a reference on what variables to set in your .env file
# ------ DO NOT delete this file

# ------------ backend -------------------
PLACES_API_KEY=your_key_here            # required: to use google places api for geocoding and reverse geocoding
GOOGLE_API_KEY=your_key_here            # optional: to use google models

# use host.docker.internal when running with docker-compose
# use localhost when running manually without docker
# OLLAMA_HOST=http://localhost:11434
OLLAMA_HOST=http://host.docker.internal:11434

# gemini or ollama models
MODEL=model-of-your-choice

CORS_ORIGINS=http://localhost:3000      # optional: comma-separated list of allowed CORS 

DATABASE_URL=your-db-url


# ------------ frontend ------------------
NEXT_PUBLIC_API_URL=http://localhost:8000  # required: URL the browser uses to reach the backend API


# ------------ redis --------------------
# REDIS_URL=redis://localhost:6379        # for local dev
REDIS_URL=redis://redis:6379            # for docker
CACHE_TTL_SECONDS=1800                  # optional: time to live for cache entries in seconds, default is 1800 seconds (30 minutes)